.pestal-container {
	background-color: rgb(25, 63, 55);
	width: 100%;
	height: 100%;

	position: relative;

	background-image: url(/tpi-info/images/ctx-bg.jpg);
	background-size: cover;
	background-position: center;
}

.pestal-grid {
	// backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"context context prevs"
		"actors experts experts"
		"s1 s2 s3";

	grid-gap: 0.5rem;
	padding: 0.5rem;

	> .section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		height: 100%;
		width: 100%;

		background-color: rgba(#000, 0.2);
		backdrop-filter: blur(5px);
		transition: background-color 0.3s ease;

		font-family: "Tilt Warp";

		font-size: 4rem;

		&:hover {
			background-color: rgba($background, 0.5);
		}
	}
}

.context-container {
	grid-area: context;

	.context-content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		height: 45%;
		overflow: hidden;

		gap: 0;
		

		// height: 100%;

		// background-color: rgba($secondary, 1);

		.ods-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			flex: 0 1 100;

			overflow: hidden;
			width: 100%;

			.ods{
				background-color: rgba($secondary, 1);
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				img {
					height: 100px;
				}
			}
		}
	}

	.context-content {
		flex: 1 0 ;

		display: flex;
		flex-direction: row;
		height: fit-content;
		// height: 70%;

		margin: 0;

		width: fit-content;
		

		justify-content: center;
		align-items: center;

		background-color: rgba($secondary, 1);

		// padding: 0 0.5rem;

		.pestal-section-container {
			flex: 1 0.5 350px;
			overflow: hidden;
			// width: 300px;
			height: 100%;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			transition: background-color 0.2s ease;

			img {
				width: 37%;
				filter: grayscale(1) brightness(0);
			}

			&:hover {
				background-color: $background;

				color: $secondary;

				svg,
				img {
					// scale: 0.8;
					filter: grayscale(1) brightness(0) invert(1);
				}

				.context-icon::after,
				.context-icon::before {
					background-color: $secondary;
				}

				.pestal-section-data-placeholder {
					display: none;
					width: 0px;
					height: 0px;
					overflow: hidden;
				}
			}

			.pestal-section-data {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				height: 100%;
				overflow: hidden;
				// display:hidden;

				transition: height 0.3s ease;

				// font-size: 1.1rem;
				text-align: center;
				margin: 0 1rem;

				font-size: 2rem;

				// border-top: 1px sol`id rgba(#000, 0.5);

				// background-color: rgba($background, 0.5);
			}

			.context-icon {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				position: relative;
				width: 100%;

				svg {
					width: 100%;
					height: 100%;
					fill: #000;
					transition: scale 0.3s ease;
				}

				&::before,
				&::after {
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background-color: rgba(#000, 0.5);
				}
			}
		}
	}
}

#down-icon {
	transform: rotate(90deg);
}

.actors-container {
	grid-area: actors;
}

.experts-container {
	grid-area: experts !important;
}

.prevs-container {
	grid-area: prevs;

	.prevs-active-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 0.5rem;
	}

	.prevs-img-container {
		width: 500px;
		height: 500px;

		filter: grayscale(1) brightness(0.4);

		transition: all 0.2s ease;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:hover {
			filter: grayscale(0) brightness(1);

			img {
				transform: scale(1.5);
			}

			z-index: 1;
		}
	}
}

#s1 {
	grid-area: s1;
}

#s2 {
	grid-area: s2;
}

#s3 {
	grid-area: s3;
}

.solution-container {
	font-family: "Tilt Warp";
	// font-size: 1rem !important;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.solution-parraf-container {
	font-size: 1.1rem !important;
	background-color: rgba($secondary, 1);

	// height: 70%;
	width: 80%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		margin: 5rem 5rem;
		font-size: 2rem !important;
	}

	span {
		font-size: 3rem;
		// display: block;
		// text-align: center;
		font-family: "Tilt Warp";
		// background-color: rgba($background, 0.5);
		// padding: 0.5rem;
		margin-right: 1rem;
		text-align: center;
	}
}

// .solution-active{
//     font-size: 1rem !important;
// }

.grid-active {
	background-color: rgba(0, 0, 0, 0.8) !important;
	backdrop-filter: blur(5px) !important;
	color: #000 !important;
	// scale: 1.5 !important;
	z-index: 100 !important;
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}
