@import "./static/colors.scss";
@import "./components/main.scss";

* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	background: $background;
}

.main-container{
	display: flex;
	// flex-direction: column;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 100vh;
	width: 100vw;

	position: fixed;
}

.section-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 0vw;
	overflow: hidden;
}

.menu-wrapper{
	flex: 1;
    display:flex;
    scale: 2;

	height: 100vh;
	width: 100vw;

	align-items: center;
	justify-content: center;
}

.smooth{
	transition: all 0.5s ease-in-out;
}

.active{
	width: 70vw;
}

.active-mn{
	scale: 1;
	width: 30vw;
	background: #000;
}